.example-card {
  max-width: 300px;
  max-height: 100%;
}

.content-container {
  margin: 15px 0 15px 0;
}

.image-container {
  margin: auto;
  width: 75vw;
  height: 55vh;
  padding: 20px;
  background-image: url("../../assets/images/coding-image.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.text-prompt {
  padding: 15px;
  background-color: rgb(198, 198, 198);
  float: left;
  margin: auto;
}

.text-prompt h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  align-items: center;
}

h3 {
  font-size: 1;
  font-weight: 500;
  color: rgb(55, 55, 55);
  align-items: center;
  margin: 0;
}
