img {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

mat-card:hover {
  transition-duration: 150ms;
  transform: scale(1.02);
  box-shadow: 5px 5px 8px #282828;
}

a {
  text-decoration: none;
  color: white;
}
