<mat-toolbar class="app-toolbar" color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="onShowMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span><a routerLink="">ByteCamp</a></span>
  <span class="example-spacer"></span>
  <span class="text"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Log in button"
    routerLink="/login"
    *ngIf="!authenticated"
  >
    <mat-icon>login</mat-icon>
  </button>
  <ng-container *ngIf="authenticated">
    <mat-icon>verified_user</mat-icon>
    <a routerLink="/profile" style="text-decoration: none; color: white"
      ><p style="margin: 0; padding: 0">Здраво, {{ username }}</p></a
    >
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Log in button"
      (click)="signOut()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<app-sidenav></app-sidenav>
